* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
  background-color: black;
  /* position: relative; */
}

/* Se le Aplica Estilos a la barra de Navegacion  */

nav{
  margin-top: 20px;
}

/* Contenedor del navegador */
.Navegador{
  list-style: none; /* Se elimina el estilo de lista */
  display: flex; /* Se agrega la propiedad de flexbox */
  justify-content: right; /* Se alinea el contenido a la derecha */
  flex-direction: row; /* Se establece la dirección de los elementos secundarios en columna */
  align-items: end; /* Se alinea los elementos secundarios al final del contenedor */
  
}

/* imagen del Logo  */
.Navegador__Logo{
  /* display: inline-block; */
  width: 100px;
  height: 100px;
  position: absolute;
}

/* Estilo de los 3 items */
.Navegador__item, .Navegador__item--Activo {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  /* display: inline-block; */
  border-radius: 10px;
  font-size: x-large;
  transition: 1s;
}

.Navegador__item:nth-child(-n+2):hover{
  background-color: #6b786374;
  transition: 1s;
}

/* item  queda con un color predeterminado (activo) */
.Navegador__item--Activo{
  background-color: green;
  color: #f4f4f4;
  transition: 1s;
  width: 9rem;
}
.Navegador__item--Activo:hover{
  transition: 1s;
  background-color: rgb(50, 157, 50);
}
/* Los link de las 3 items   */
.Navegador__Link{
  text-decoration: none;
  color: #f4f4f4
}
/* Este es el titulo principal de la Pagina */
.Titulo {
  /* display: inline-block; */
  display: flex; /* Se agrega la propiedad de flexbox */
  justify-content: center; /* Se centra el contenido horizontalmente */
  width: 100%;
  margin-top: 100px;
  font-family: "teko", sans-serif;
}
/* Utltima palabra DRINK */
.Titulo__Principal--color{
  background:  linear-gradient(90deg,rgba(30, 232, 64, 1) 0%, rgba(87, 199, 133, 1) 17%, rgba(237, 221, 83, 1) 37%);;

  background-size: 400% 400%;

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  animation: mover-gradiente 5s ease infinite;

}

@keyframes mover-gradiente {

  0% {

    background-position: 0% 50%;

  }

  50% {

    background-position: 100% 50%;

  }

  100% {

    background-position: 0% 50%;

  }

}

/* Este el H1 del Titulo */
.Titulo__Principal{
  text-align: center;
  color: #ffffff;
  font-family: "teko", sans-serif;
  font-weight: 800;
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 100px;
}

/* Se Realizan Ajustes al Card */
.Contenedor-Card{
  padding: 1%;
  display: flex; /* Se agrega la propiedad de flexbox */
  flex-direction: column; /* Se establece la dirección de los elementos secundarios en columna */
  align-items: center; /* Se alinea los elementos secundarios al centro del contenedor */
}
.Card{
  display: flex; /* Se agrega la propiedad de flexbox */
  gap: 24rem; /* Se agrega espacio entre los elementos secundarios */
  width: 70%;
  height: 20%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5%;
  border: gray solid 8px;
  /* position: relative; */
}
.Card-Contenido{
  width: 40%;
  display: flex; /* Se agrega la propiedad de flexbox */
  flex-direction: column; /* Se establece la dirección de los elementos secundarios en columna */
  /* align-items: center; Se alinea los elementos secundarios al centro del contenedor */
}

.Card__Titulo{
  color: #fff;
  font-family: "teko", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 65px;
  max-width: 100%;;
  margin-bottom: 20px;
}
.Card_Descripcion{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  font-size: 200%;
  margin-bottom: 20px;
}

.Card_Precio{
  color: #969696;
  font-weight: 800;
  font-size: 150%;
  
}

.card__boton--Primario{
  background-color: rgb(8, 128, 44);
  padding: 2%;
  margin: 3%;
  font-size:16px;
  text-decoration: none;
  border: none;
  /* display: block; */
  border-radius: 10px;
  width: 150px;
  height: 50px;
  transition: 1s;
}
.card__boton--Primario:hover{
  background-color: rgb(160, 186, 168);
  transition: 1s;
}


.Card-imagen{
  /* display: inline-block; */
  display: flex; /* Se agrega la propiedad de flexbox */
  flex-direction: row; /* Se establece la dirección de los elementos secundarios en columna */
  justify-content: center; /* Se centra el contenido horizontalmente */

}